.board-item {
  font-size: 5rem;
}

hr {
  border-color: rgb(230, 53, 230);
  margin: 0;
}

.empty {
  padding-top: 7.5rem;
}

p {
  margin: 0;
}

.x {
  color: red;
}

.o {
  color: rgb(0, 255, 0);
}

.r-border {
  border-right: solid 10px white;
}

.b-border {
  border-bottom: solid 10px white;
}

.bg-black {
  background-color: black;
}
